@import "../../../styles/colors.scss";
@import "../../../styles/font.scss";


.dropdown {
    display: flex;
    justify-content: center;
    position: relative;

    &__menu {
        position: absolute;
        top: 100%;
        right: -35px;
        z-index: 1000;
        box-shadow: 0px 0px 2px 0px #5A5A5A;
        background-color: $color-06;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px;
        min-width: 200px;

        li {
            padding: 8px 12px;
            cursor: pointer;

            p {
                @include Text-2-Medium;
                color: $color-01;
            }
        }

    }
}


@media only screen and (max-width:768px) {
    .dropdown {
        &__menu {
            min-width: 160px;

            li {
                padding: 8px 12px;
               p{
                @include Mobile-Text-2-Medium;
                color: $color-01;
               }
            }

        }
    }
}