@import "../../styles/colors.scss";
@import "../../styles/font.scss";

.profile-edite{
    padding: 20px 0;
    &__back-button{
        margin: 0 0 44px;
        color: $color-02;
      display: flex;
      column-gap: 8px;
      @include Headline-Semibold;
    }
    &__sections{
        display: flex;
        column-gap: 40px;
       
    }
    &__left-block{
        border-radius: 16px;
        background-color: $color-06;
        padding: 40px;
        img{
            width: 280px;
            height: 485px;
        }
    }
    &__right-block{
        padding: 40px;
        background-color: $color-06;
        border-radius: 16px;
        width: 100%;
        max-width: 760px;
        
    }
    &__form{
        display: flex;
        flex-direction: column;
        gap: 24px;
        h4{
            color: $color-01;
            border-bottom: 1px solid $color-04;
            padding-bottom: 16px;
            margin-bottom: 24px;
            @include Title-Semibold;
        }
    }
    &__akordeons{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }
}


@media only screen and (max-width: 768px){
    .profile-edite{
        &__back-button{
            @include Mobile-Headline-Semibold;
        }
        &__sections{
         flex-direction: column;
         gap: 32px;
           
        }
        &__left-block{
            border-radius: 16px;
            background-color: $color-06;
            padding: 28px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                width: 287px;
                height: 187px;
                object-fit: cover;
            }
        }
        &__right-block{
            padding: 28px
            
        }
    }
}