.header{
  padding: 0 20px;
   &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1160px;
    height: 56px;
   }
    &__right-block{
        display: flex;
        column-gap: 4px;
        align-items: center;
    }
    &__avatar-block{
        display: flex;
        column-gap: 8px;
        margin-left: 16px;
        img{
            width: 20px;
            height: 20px;
            border-radius: 50px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .header{
        &__right-block{
          svg{
            display: none;
          }
        }
        &__avatar-block{
          p{
            display: none;
          }
        }
    }
}